
body{
    font-family: 'Noto Serif', serif;
    margin: 0px;
}
.top{
background-image:url("images/top-banner.png");
background-repeat: no-repeat;
border: 1px solid cyan;
border-radius: 20px;
}
.for-highlighter{
    color:cyan
}
h3{
    font-size: 25px;
}

h1{
    font-size: 50px;
}
.for{

    font-size: 15px ;
}
.friend{
    float: left; 
    width: 40%;
margin-left: 5%;
padding-left:2% ;

}
.for-button{
    text-decoration: none;
    background-image: linear-gradient(50deg, cyan ,white);
    border-radius: 5px;
    padding: 8px 13px;
    font-weight: 700px;
}
.friend img{
    width: 80%;
    padding-left: 80px;
}
section{
    height: 500px;
}
.brother{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
    border: 2px solid cyan;
    border-radius:20px ;
}
h2{
    font-size:35px ;
}
.shadow{
    background-color: white;
    box-shadow:10px 10px 40px cyan;
    border-radius: 5px;
    height: 70%;


}
.for_experiences{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,  lightsalmon, tomato);
    border-image-slice: 1;
}
#fucbaby{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,  blue, cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}